{% extends "core/base.html" %}

{% block title %} Eliminar Producto {% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="card mt-4">
        <div class="card-header">
            <h3>Eliminar Producto</h3>
        </div>
        <div class="card-body">
            <p>¿Está seguro que desea eliminar <strong>{{ object.nombre }}</strong>?</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-danger" type="submit">Eliminar</button>
            <a href="{% url 'productos:producto-list' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}
