{% extends "core/base.html" %}

{% block title %} Producto {% endblock %}

{% block content %}
<form method="post">
     {% csrf_token %}
    <div class="card mt-4 shadown-lg">
        <div class="card-header">
            <h3 class="card-title">Datos del Producto</h3>
        </div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    {{ form.nombre }}
                    {% if form.nombre.errors %}
                        <div class="invalid-feedback d-block">{{ form.nombre.errors|striptags }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label class="form-label">Categoria</label>
                    {{ form.categoria }}
                    {% if form.categoria.errors %}
                        <div class="invalid-feedback d-block">{{ form.categoria.errors|striptags }}</div>
                    {% endif %}
                </div>

                <div class="col-12">
                    <label class="form-label">Descripcion</label>
                    {{ form.descripcion }}
                    {% if form.descripcion.errors %}
                        <div class="invalid-feedback d-block">{{ form.descripcion.errors|striptags }}</div>
                    {% endif %}
                </div>

                <div class="col-md-4">
                    <label class="form-label">Precio compra</label>
                    {{ form.precio_compra }}
                    {% if form.precio_compra.errors %}
                        <div class="invalid-feedback d-block">{{ form.precio_compra.errors|striptags }}</div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Precio venta</label>
                    {{ form.precio_venta }}
                    {% if form.precio_venta.errors %}
                        <div class="invalid-feedback d-block">{{ form.precio_venta.errors|striptags }}</div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Stock</label>
                    {{ form.stock }}
                    {% if form.stock.errors %}
                        <div class="invalid-feedback d-block">{{ form.stock.errors|striptags }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label class="form-label">Proveedor</label>
                    {{ form.proveedor }}
                    {% if form.proveedor.errors %}
                        <div class="invalid-feedback d-block">{{ form.proveedor.errors|striptags }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6 d-flex align-items-center">
                    <div class="form-check">
                        {{ form.activo }} <label class="form-check-label">Activo</label>
                        {% if form.activo.errors %}
                            <div class="invalid-feedback d-block">{{ form.activo.errors|striptags }}</div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-success" type="submit">✅ Guardar</button>
            <a href="{% url 'productos:producto-list' %}" class="btn btn-outline-info">Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}
